<form class="form-inline mr-auto" #goalForm='ngForm'>
    <!-- <div class="form">
        <input type="text" placeholder="Search" aria-label="Search" name="search"
            [(ngModel)]="newUser.name">
        <label for="name" class="label-name">
            <span class="content-name">Search</span>
        </label>
        <button class="btn btn-outline-success" type="submit" (click)="submitUser()">GO</button>

    </div> -->
    <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search" name="search"
        [(ngModel)]="newUser.name">
    <button class="btn btn-outline-success btn-rounded btn-sm my-0" type="submit" (click)="submitUser()">Search</button>

</form>
<!-- !-- <div class="form">
    <input type="text" name="name" autocomplete="off" aria-label="Search" name="search" [(ngModel)]="newUser.name"
        required>
    <label for="name" class="label-name">
        <span class="content-name">Search Username</span>

    </label>
    <button type="button" class="btn btn-info btn-lg" (click)="submitUser()">GO</button>
</div> --> 
