form{
    text-align: center;
}
.form{
    width: 50%;
    position: relative;
    height: 50px;
    font-size: 20px;
    color: black;
    margin-left: 300px;
    
}
.form input{
    width: 100%;
    height: 70%;
    color: #595f6e;
    padding-top: 20px;
    border: none;
    margin-bottom: 40px;
    outline: none;
   
}
.form label{
   text-align: center;
    margin-top: 40px;
    position: absolute;
    top: 10px;
    bottom: 0px;
    left: 0%;
    width: 100%;
    height: 80%;
    pointer-events: none;
    border-bottom: 1px solid black;
    
}
.form label::after{
    content: " ";
    position: absolute;
    left: 0px;
    bottom: -1px;
    height: 100%;
    width: 100%;
    border-bottom: 3px solid white;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
}
.content-name{
    overflow: hidden;
    position: absolute;
    bottom: 5px;
    left: 0px;
    transition: all 0.3s ease;
}
.form input:focus + .label-name .content-name, .form input:valid + .label-name .content-name{
    transform: translateY(-20px);
    font-size: 16px;
    color:  #5fa8d3;
    
}
.form input:focus + .label-name::after, .form input:valid + .label-name::after{
    transform: translateX(0%);
}