<div id="navigation">
<header>
    
        <a href="#" class="logo">Github search </a>
        <nav>
            <ul>
                <div class="icon"> 
                <li> <a href="#" id="home"routerLink="user" routerLinkActive='active'>
                    <span class="glyphicon" >&#xe021;</span>
                    
                    <div class="name" data-text="Home">Home</div>
                </a></li>
                </div>
                <div class="icon"> 
                <li><a href="#" id="explore" routerLink="repo" routerLinkActive='active'>
                    <span  class='fas ' >&#xf234;</span>
                    <div class="name" data-text="Explore">Explore</div>
                </a></li>
                </div>
                
            </ul>
        
        </nav>
 </header> 

<!-- <div class="form">
    <input type="text"  name="name" autocomplete="off"  required/>
    <label for="name" class="label-name">
        <span class="content-name">Search</span>
    </label>
</div> -->
</div>

