
<!-- <div class="form">
    <input type="text" name="name" autocomplete="off" aria-label="Search" name ="search" [(ngModel)]="newUser.name"  required >
    <label for="name" class="label-name">
        <span class="content-name">Search Username</span>
        
    </label>
    <button type="button" class="btn btn-info btn-lg" (click)="submitUser()" >GO</button>
</div> -->
 




<ng-progress></ng-progress>
<app-user-search (searchUser)="searchUserName($event)"></app-user-search>

<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="col-md-16">
            <div class="card-header">
                <img class="profile-pic" src="{{ user.avatar_url }}" alt="" />
                
              <h2>  {{user.name}} </h2>
            <button type="button" class="btn btn-info" (click)='toggleRepository()'>
                {{showRepos? 'HIDE':'SHOW'}} REPOS
            </button>
           
            <!-- <h4><a href="{{user.repos_url}}"><button type="submit" class="btn btn-primary">Github profile</button> </a> </h4> -->
            </div>
            <div class="card-body">
                
               Bio: {{user.bio}} <br>
            <br>
                Location: {{user.location}} <br>
                <br>
                Followers: {{user.followers}} <br>
                <br>
                Following: {{user.following}}
            </div>
            </div>
            

            </div>
            <div class="col-md-6">
                hello
            </div>
    </div>

    <div class="col-md-16">
    <div class="col-md-4" *ngFor = "let myRepo of repo">
        <div class="repos">
        
            <div class="col-md-12" *ngIf = 'showRepos'>
                <div class="col-md-12">
                <div class="repos-header">
                    <h1>{{myRepo.name}} </h1>
                </div>
                <div class="repos-text">
                    {{myRepo.description}}
                    <br>
                    <br>
                    Language: <span>{{myRepo.language}}</span>
                    <br> <br>
                    Created :<span> {{myRepo.created_at | dateCount}} </span>
                    <br> <br>
                    <h4><a href="{{myRepo.html_url}}"><button type="submit" class="btn btn-primary">See More</button> </a> </h4>
             </div>
               
             
             </div>
        </div>
    </div>
    </div>
    
</div>


<!-- <p class="card-text">Name: {{user.name}}</p>
<p class="card-text">Followers: {{user.followers}}</p>
<p class="card-text">Following: {{user.following}}</p>
<p class="card-text">Public repos: {{user.public_repo}}</p> -->

 <!-- <div class="card">

<div class="card-image">
    
<hr>
</div> -->

<!-- <div class="card-body">
   
    <h2>{{user.name}}</h2>
    <hr>
</div>

    <div class="card-text">
        <p>{{user.location}}</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur, aliquid hic suscipit, velit, Eaque consectetur quia fugiat ducimus numquam?</p>
    </div>
</div> --> 