
<!-- <div class="form">
    <input type="text" name="name" autocomplete="off" aria-label="Search" name ="search" [(ngModel)]="newUser.name"  required >
    <label for="name" class="label-name">
        <span class="content-name">Search Username</span>
        
    </label>
    <button type="button" class="btn btn-info btn-lg" (click)="submitUser()" >GO</button>
</div> -->
 


<app-user-search (searchUser)="searchUserName($event)"></app-user-search>

    <p>{{user.name}} </p>
    <p>{{user.followers}} </p>
    <p>{{user.public_repo}}</p>

 <!-- <div class="card">

<div class="card-image">
    
<hr>
</div> -->

<!-- <div class="card-body">
   
    <h2>{{user.name}}</h2>
    <hr>
</div>

    <div class="card-text">
        <p>{{user.location}}</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur, aliquid hic suscipit, velit, Eaque consectetur quia fugiat ducimus numquam?</p>
    </div>
</div> --> 