
<div class="form">
    <input type="text" name="name" autocomplete="off" required />
    <label for="name" class="label-name">
        <span class="content-name">Search Username</span>
    </label>
</div>


<div class="card">

<div class="card-image">
    
<hr>
</div>

<div class="card-body">
   
    <h2>Terry</h2>
    <hr>
</div>

    <div class="card-text">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur, aliquid hic suscipit, velit, Eaque consectetur quia fugiat ducimus numquam?</p>
    </div>
</div>